{{ header }}
{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <!-- Информация об авторе -->
            <div class="module-author">
                <span>Автор: tg:<a href="https://t.me/karbayev" target="_blank"><strong> @karbayev </strong></a></span>
                <span><a href="https://weba.kz" target="_blank">https://weba.kz </span></a>, 
                <span>Email: <a href="mailto:karbayev@gmail.com">karbayev@gmail.com</a></span>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                <li><a href="{{ home }}">{{ text_home }}</a></li>
                <li><a href="{{ action }}">{{ heading_title }}</a></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{ heading_title }}</h3>
                    </div>
                    <div class="card-body">
                        {% if error_warning %}
                            <div class="alert alert-danger">{{ error_warning }}</div>
                        {% endif %}
                        <form action="{{ action }}" method="post">
                            <div class="form-group">
                                <label>{{ entry_phone_number }}</label>
                                <input type="text" name="whatsapp_widget_phone_number" value="{{ whatsapp_widget_phone_number }}" class="form-control">
                            </div>
							
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-text-list">{{ entry_text_list }}</label>
                                <div class="col-sm-10">
                                    <textarea name="whatsapp_widget_text_list" id="input-text-list" class="form-control">{{ whatsapp_widget_text_list }}</textarea>
                                    <small class="text-muted">Введите значения через запятую.</small>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>{{ entry_status }}</label>
                                <select name="whatsapp_widget_status" class="form-control">
                                    <option value="1" {% if whatsapp_widget_status == '1' %}selected{% endif %}>Enabled</option>
                                    <option value="0" {% if whatsapp_widget_status == '0' %}selected{% endif %}>Disabled</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">{{ button_save }}</button>
                            <a href="{{ cancel }}" class="btn btn-default">{{ button_cancel }}</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ footer }}

<!-- Добавьте стиль для отображения информации об авторе -->
<style>
    .module-author {
        margin-bottom: 10px;
        font-size: 14px;
        color: #333;
        background-color: #f9f9f9;
        padding: 5px 10px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    .module-author a {
        color: #007bff;
        text-decoration: none;
    }
    .module-author a:hover {
        text-decoration: underline;
    }
</style>
